.js__description.description
	h2.description__header.header Мой уровень владения JavaScript
	.description__item
		input.description__input#js-value(
			value="50"
			min="0"
			max="100"
			type="number"
		)
		label.description__label.visually-hidden(
			for="js-value"
		) Навыки JavaScript
