.body__skills.skills
	h2.skills__header.header Навыки
	form.skills__form(
		action="some"
		method="get"
	)
		input.skills__checkbox#html5(
			type="checkbox"
			checked
		)
		label.skills__label.skills__label--html5(
			for="html5"
		) html5
		input.skills__checkbox#sass(
			type="checkbox"
			checked
		)
		label.skills__label.skills__label--sass(
			for="sass"
		) sass
		input.skills__checkbox#vanilla-js(
			type="checkbox"
			checked
		)
		label.skills__label.skills__label--vanilla-js(
			for="vanilla-js"
		) vanillajs
		input.skills__checkbox#git(
			type="checkbox"
			checked
		)
		label.skills__label.skills__label--git(
			for="git"
		) git
		input.skills__checkbox#css3(
			type="checkbox"
			checked
		)
		label.skills__label.skills__label--css3(
			for="css3"
		) css3
		input.skills__checkbox#less(
			type="checkbox"
			checked
		)
		label.skills__label.skills__label--less(
			for="less"
		) less
		input.skills__checkbox#angular(
			type="checkbox"
		)
		label.skills__label.skills__label--angular(
			for="angular"
		) angular
		input.skills__checkbox#foundation(
			type="checkbox"
		)
		label.skills__label.skills__label--foundation(
			for="foundation"
		) foundation
		input.skills__checkbox#bem(
			type="checkbox"
			checked
		)
		label.skills__label.skills__label--bem(
			for="bem"
		) бэм
		input.skills__checkbox#gulp(
			type="checkbox"
			checked
		)
		label.skills__label.skills__label--gulp(
			for="gulp"
		) gulp
		input.skills__checkbox#jquery(
			type="checkbox"
		)
		label.skills__label.skills__label--jquery(
			for="jquery"
		) jquery
		input.skills__checkbox#bootstrap(
			type="checkbox"
		)
		label.skills__label.skills__label--bootstrap(
			for="bootstrap"
		) bootstrap
