doctype html

html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport"
			content="width=device-width initial-scale=1.0"
		)
		title Nelli Nosova Test
		link(
			href="css/main.css"
			rel="stylesheet"
		)
	body.body
		.container
			.body__avatar.avatar
				img.avatar__image(
					width="140"
					height="140"
					src="images/sprites/png/nelli_photo.png"
					alt="Аватар"
				)
			.body__personal.personal.personal--approved
				form.personal__form(
					action="some"
					method="get"
				)
					.personal__box
						input.personal__input.personal__input--name(
							type="text"
							#name
							required
						)
						label.personal__label.personal__label--name(
							for="name"
						) Имя
					.personal__box
						input.personal__input.personal__input--birth(
							type="text"
							#birth
							required
						)
						label.personal__label.personal__label--birth(
							for="birth"
						) Дата рождения
					.personal__box
						input.personal__input.personal__input--town(
							type="text"
							#town
							required
						)
						label.personal__label.personal__label--town(
							for="town"
						) Город
					.personal__box
						input.personal__input.personal__input--contacts(
							type="text"
							#contacts
							required
						)
						label.personal__label.personal__label--contacts(
							for="contacts"
						) Контактные данные
		.body__skills.skills
			h2.skills__header.header Навыки
			form.skills__form(
				action="some"
				method="get"
			)
				input.skills__checkbox(
					type="checkbox"
					#html5
					checked
				)
				label.skills__label(
					for="html5"
				) html5
				input.skills__checkbox(
					type="checkbox"
					#sass
				)
				label.skills__label(
					for="sass"
					checked
				) sass
				input.skills__checkbox(
					type="checkbox"
					#vanilla-js
					checked
				)
				label.skills__label(
					for="vanilla-js"
				) vanillajs
				input.skills__checkbox(
					type="checkbox"
					#git
					checked
				)
				label.skills__label(
					for="git"
				) git
				input.skills__checkbox(
					type="checkbox"
					#css3
					checked
				)
				label.skills__label(
					for="css3"
				) css3
				input.skills__checkbox(
					type="checkbox"
					#less
					checked
				)
				label.skills__label(
					for="less"
				) less
				input.skills__checkbox(
					type="checkbox"
					#angular
				)
				label.skills__label(
					for="angular"
				) angular
				input.skills__checkbox(
					type="checkbox"
					#foundation
				)
				label.skills__label(
					for="foundation"
				) foundation
				input.skills__checkbox(
					type="checkbox"
					#bem
					checked
				)
				label.skills__label(
					for="bem"
				) бэм
				input.skills__checkbox(
					type="checkbox"
					#gulp
					checked
				)
				label.skills__label(
					for="gulp"
				) gulp
				input.skills__checkbox(
					type="checkbox"
					#jquery
				)
				label.skills__label(
					for="jquery"
				) jquery
				input.skills__checkbox(
					type="checkbox"
					#bootstrap
				)
				label.skills__label(
					for="bootstrap"
				) bootstrap
		.body__js.js
			.js__interactive.interactive
				svg.interactive__arrow(
					width="50"
					height="40"
				)
					use(xlink:href="images/sprites.svg#js_arrow")
			.js__description.description
				h2.description__header.header Мой уровень владения JavaScript
				.description__item
					form.description__form(
						action="some"
						method="get"
					)
						input.description__input(
							value="0"
							type="number"
						)
